footer {
    display: block;
    background-color: black;
}

.footer {
    background-color: black;
    padding: 60px;
    margin-left: 50px;
    display: flex;
}

.col-4 {
    width: 25%;
    margin: 0 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.footer_logo {
    width: 150px;
}

.footerFont {
    font-size: 15px;
    color: white;
    font-weight: 300;
    line-height: 30px;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: white;
}

h5 {
    margin: 0;
    font-weight: 700;
}

.footerMenu {
    font-weight: 800;
    font-size: 20;
    color: white;
    line-height: 30px;
    margin: 0;
    font-weight: 700;
}

.copywrite {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1100px) {
    .footer {
        margin-left: 0;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .col-4 {
        width: 30vw;
        text-align: left;
    }
    .right {
        text-align: left;
    }
}

@media only screen and (max-width: 700px) {
    .col-4 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}