section {
    padding: 50px 50px 70px 150px;
}

.looperBox {
    margin-left: 60px;
}

.blueBar {
    background-color: var(--enhanceBlue);
}

.buttonDiv {
    text-align: center;
}

.photoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px;
}

.photoBox {
    overflow: hidden;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.horizontalImg {
    height: 105%;
    position: scroll;
    transition: all .01s ease-in-out;
}

.verticalImg {
    width: 105%;
    transition: all 2s ease-in-out;
}

@media only screen and (max-width: 1100px) {
    section {
        padding: 40px 0 60px 50px;
    }
    .photoBox {
        overflow: hidden;
        width: 30%;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    section {
        padding: 40px 0 60px 0;
    }
    .looperBox {
        margin-left: 10px;
        margin-top: -10vh;
    }
    .photoRow {
        display: block;
        padding: 0;
        margin: 70px 70px 70px 48px;
    }
    .photoBox {
        overflow: hidden;
        width: 80vw;
        height: 100%;
        margin: 0 auto 10px;
    }
    .horizontalImg {
        height: unset;
        width: 105%;
        transition: all 2s ease-in-out;
    }
    .verticalImg {
        width: 105%;
        transition: all 2s ease-in-out;
    }
}