:root {
    --enhanceBlue: #06245d;
    --enhanceOrange: #f57600;
    --darkGreen: #012218;
    --enhnacePurple: #890c4d;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

main {
    margin-top: -50px;
}

section {
    padding-bottom: 50px;
}

a {
    font-style: none;
}

a:hover {
    opacity: 0.8;
    cursor: pointer;
}

p {
    size: 35px;
    font-weight: 300;
    margin: 30px 0 40px 0;
    line-height: 40px;
}

p em {
    color: var(--enhanceBlue);
    font-weight: 800;
    font-style: normal;
}

.headline-paragraph {
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
}

.headline-paragraph em {
    color: var(--enhanceOrange);
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

h1 {
    size: 60px;
    font-weight: 300;
    color: black;
}

h2 {
    color: var(--enhanceOrange);
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    line-height: 20px;
}

.knockout {
    size: 60px;
    font-weight: 300;
    color: white;
}

.knockout em {
    color: var(--enhanceOrange);
}

.orangeback_em {
    color: white!important;
}

h1 em {
    size: 60px;
    color: var(--enhanceOrange);
    font-weight: 800;
    font-style: normal;
}

h5 {
    font-weight: 800;
    font-size: 20;
    color: white;
}

.sectionHeading {
    padding: 0;
    display: block;
    width: fit-content;
    min-width: 200px;
    margin-bottom: 50px;
}

.subheading_box {
    width: 100%;
    border-bottom: 1px solid var(--enhanceOrange);
}

.sectionHeading h2 {
    color: var(--enhanceOrange);
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    line-height: 20px;
}

.rightFloat {
    text-align: right;
    margin: 0 0 0 auto!important;
}

.whiteLine {
    border-bottom: 1px solid white;
}

.sectionHeading h2 sub {
    font-weight: 300;
    font-size: 20px;
    line-height: 10px;
}

.knockout {
    color: white!important;
}

.textArea {
    width: 60%;
    margin: 30px auto;
}

.rightHandText {
    text-align: right;
}

.rightHandText p {
    text-align: left;
}

.PrimaryButton {
    padding: 10px;
    margin-top: 15px;
    font-size: 50;
    font-weight: 800;
    color: #fff;
    background: var(--enhanceBlue);
    border: 2px solid var(--enhanceBlue);
    text-decoration: none;
    transition-duration: .2s;
    cursor: pointer;
}

.PrimaryButton:hover {
    color: var(--enhanceBlue);
    opacity: 1;
    background: #fff;
}

.KnockoutButton {
    padding: 10px;
    margin-top: 15px;
    font-size: 50;
    font-weight: 800;
    color: #fff;
    background: none;
    border: 2px solid white;
    text-decoration: none;
    transition-duration: .2s;
}

.KnockoutButton:hover {
    color: var(--enhanceBlue);
    background: #fff;
    opacity: 1;
}

.TopBarFull {
    height: 80vh;
    min-height: 500px;
    background-image: url(../images/background_icon_overlay.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 110px 5% 5% 5%;
}

.TopBarThird {
    height: 30vh;
    min-height: 300px;
    background-image: url(../images/background_icon_overlay.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 110px 5% 5% 5%;
}

.BarBlue {
    background-color: var(--enhanceBlue);
}

.BarOrange {
    background-color: var(--enhanceOrange);
}

.BarDarkGreen {
    background-color: var(--darkGreen);
}

.frame {
    margin: 0 10vw;
    height: 90vh;
    width: 80vw;
    margin-bottom: 50px;
}

.inlineLink {
    size: 35px;
    font-weight: 300;
    margin: 30px 0 40px 0;
    line-height: 40px;
    color: var(--enhanceBlue);
    font-weight: 800;
    font-style: normal;
}

.heading-box {
    margin-left: 100px;
}

@media only screen and (max-width: 700px) {
    body {
        margin-top: -100px!important;
    }
    main {
        margin-bottom: 0;
    }
    .sectionHeading h2 {
        font-size: 25px;
    }
    .sectionHeading h2 sub {
        font-size: 18px;
    }
    .textArea {
        width: 80%;
    }
    .TopBarFull {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
        padding: 180px 5% 5% 5%;
    }
    .TopBarThird {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
        padding: 180px 5% 5% 5%;
    }
    .heading-box {
        margin-left: 40px;
    }
}